doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Mike Senin

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.4/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Mike Senin
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Mike
                        span.text-primary Senin
                    .subheading.mb-5
                        | Saratov · Russia ·
                        a(href='mailto:msenin.work@gmail.com') msenin.work@gmail.com
                    p.lead.mb-5.
                        Hi! I'm a DevOps and QA enthusiast with 8.5+ years of wide experience in cloud and on-premise technologies.
                        #[br]
                        Designed, automated, and tested highly loaded production systems for telco, e-commerce, and fintech companies.
                        #[br]
                        Organized and led distributed international teams (3-7 engineers) as DevOps and QA lead.
                        #[br]
                        Experienced with k8s, GCP, OpenStack, OpenShift platforms.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/michael-senin-6b874a9a/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/mike-senin')
                            i.fab.fa-github
                        a.social-icon(href='https://t.me/msenin')
                            i.fab.fa-telegram

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer 4
                            .subheading.mb-3 Juniper Networks
                            p.
                                Juniper Networks acquired Apstra startup, where I was working, and I got the offer to join the team as part of the Juniper Apstra department.
                                I was in charge of on-prem k8s, Jenkins, DevSecOps practices, internal frameworks, and tooling for the #[a(href="https://www.juniper.net/us/en/products/network-automation/apstra/apstra-system.html") Juniper Apstra product.]
                                #[br]
                                #[br]
                                #[li Improved the availability of the on-prem k8s cluster using monitoring/alerting system statistics, implementing smoke tests and server tuning ]
                                #[li Leveraged all benefits from DevSecOps OWASP tools and integrated them into CI pipelines ]
                                #[li Dramatically optimized k8s build servers utilization using custom schedulers ]
                                #[li Integrated and configured ELK stack for k8s cluster and for build infrastructure components ]
                                #[li Documented cookbooks for Ops engineers ]
                                #[br]

                                #[em Technologies:] K8S, TektonPipelines, Kapitan, Kubespray, Python, Helm, Ansible, Packer, Jenkins, JobDSL, OWASP tools, SonarQube, Minio, DistCC, Groovy, Snyk.io, ELK, distcc
                        .flex-shrink-0
                            span.text-primary December 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Head of QA / DevOps
                            .subheading.mb-3 Nominex
                            p.
                                Contractor job to help a company with QA and DevOps practices building turned over to long-term partnership with wide administrative permissions to build a QA team from scratch, test and launch the project.
                                #[br]
                                #[br]
                                #[strong Achievements:]
                                #[br]
                                #[li The exchange #[a(href="https://nominex.io/") nominex.io] had been launched without major defects ]
                                #[li Partnership with #[a(href="https://www.binance.com/") binance.com] was released without major defects ]
                                #[li Hunted, interviewed, organized, and led a highly-performed QA team from scratch (up to 5 people) ]
                                #[li Prepared technical roadmap for QA and DevOps tracks ]
                                #[li Prepared initial Test Strategy for the product ]
                                #[li Designed CI/CD for the project ]
                                #[li Write QA framework and most part tests for core components using, Java + SpringBoot + TestNG + Selenide + Selenoid ]
                                #[li Implemented data-load mechanism and deployment/provisioning scripts for test environments ]
                                #[li Designed and wrote performance test framework using Gatling + WebSocket ]
                                #[li Remediated GCP and other services costs ]

                                #[br]
                                #[em Technologies:] Java, SpringBoot, JUNIT5, TestNG, K8S, GCP, Gatling, Scala, Maven, SBT, Jenkins, Ganache, KIWI TCSM, Sentry, Lighthouse, Allure, npm, Yarn, Groovy
                        .flex-shrink-0
                            span.text-primary June 2018 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior DevOps/QA Engineer
                            .subheading.mb-3 Apstra
                            p.
                                During work in Apstra, I provided consulting and improved company infrastructure automation management, overall quality of the product as a DevOps and QA engineer.
                                #[br]
                                #[br]

                                #[strong As DevOps:]
                                #[br]
                                #[li Rewrote internal tooling for GitOps approach using Python ]
                                #[li Designed JobDSL framework ]
                                #[li Migrated internal topology provisioning toolset from Python2 to Python3 ]
                                #[li Optimized unit-tests execution time reduced from 1.30h to 40 min (100k+ tests) ]
                                #[li Troubleshot build/deploy/infra incidents ]
                                #[li Got reward as “Brilliant Engineer” for excellent disaster recovery work ]

                                #[br]
                                #[strong As QA:]
                                #[br]
                                #[li Prepared and automated UI test cases for AOS (currently Juniper Apstra) ]
                                #[li Designed and executed e2e tests for core AOS features ]
                                #[li Extended and optimized UI test framework ]
                                #[li Reduced resources consumption by Selenium nodes replacing it by Selenoid with k8s autoscaling ]
                                #[li Participated in feature design sessions ]

                                #[br]
                                #[em Technologies:] Python, Poetry, Selenium, K8S, Jenkins, Sentry, Allure, Py.test, Selenoid, Sentry, Allure, npm, Yarn, Kafka, Cassandra, Groovy
                        .flex-shrink-0
                            span.text-primary May 2019 - December 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior DevOps engineer
                            .subheading.mb-3 Mirantis
                            p.
                                I came back to Mirantis and participated as SRE and DevOps engineer in several projects for #[a(href="https://www.jio.com/") JIO] and
                                Fujitsu to build #[a(href="https://www.mirantis.com/company/press-center/company-news/mirantis-partners-with-fujitsu-to-build-supercomputer-and-wide-area-distributed-cloud-system-for-high-performance-computing-at-hokkaido-universit/") a supercomputer] at #[a(href="https://www.global.hokudai.ac.jp/") Hokkaido University].
                                #[br]
                                At JIO I was in charge of 200+ and 500+ nodes MCP (Mirantis Openstack) deployment, production system maintenance and upgrade, monitoring enhancements and communication with the customer.
                                #[br]
                                My primary goal was to educate engineers to maintain, deploy and extend Mirantis products.
                                #[br]
                                #[br]

                                #[em Technologies:] SaltStack, OpenStack, Jenkins, Gerrit, Prometheus, Grafana, Alerta, Aptly
                        .flex-shrink-0
                            span.text-primary September 2018 - May 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lead DevOps Engineer
                            .subheading.mb-3 Grid Dynamics
                            p.
                                I grew up to Lead Engineer after half a year at Kohl's Merchandising project. Our main goal was to migrate applications from mainframes and adapt them to the OpenShift platform.
                                #[br]
                                I built the DevOps team from scratch (up to 5 people), design and set up CI/CD and release management processes, migrated applications from mainframes to the cloud.
                                #[br]
                                During on-site consulting sessions, I was at the edge. I collected business requirements from the customer and converted them to tech tasks, redesigned old services, and made HA and DR (Disaster recovery) architecture proposals.
                                #[br]
                                As a result of my work the builds and deployment time execution reduced to x3 times, reduced count of jobs, and optimized Jenkins usage.
                                #[br]
                                Grafana/InfluxDB/Prometheus monitoring solution was successfully demonstrated to the customer (Merch/Marketing/OCF) and partially used by some of the teams to eliminate costs on existent monitoring solution.
                                #[br]
                                #[br]

                                #[em Technologies:] Jenkins, JobDSL/Pipelines plugins, OpenShift, k8s, Grafana, Prometheus, InfluxDB, GCP, Groovy, Python, Bash, Ansible, Grafana, Prometheus, npm, Yarn, Kafka, Cassandra
                        .flex-shrink-0
                            span.text-primary March 2017 - September 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Lead QA Engineer
                            .subheading.mb-3 Mirantis
                            p.
                                I got started my career at Mirantis and grew up to Lead QA Engineer.
                                I participated at OpenStack related projects for different customers such as
                                #[a(href="https://www.jio.com/") Reliance JIO cloud],#[a(href="https://www.telstra.com.au/") Telstra],
                                #[a(href="https://www.wellsfargo.com/") WellsFargo],#[a(href="https://www.ericsson.com/en") Ericsson] and others.
                                #[br]
                                #[br]
                                #[li Lead QA command (up to 7 people) ]
                                #[li Few production clouds (100+ nodes) using salt-based tcpcloud/Mirantis product were deployed without major defects and performance issues ]
                                #[li Designed and documented project QA and CI/CD processes ]
                                #[li Designed and automated the creation of virtual topology (210+ OVS based switches) to emulate customer's topology and test OpenFlow based SDN controller ]
                                #[li Designed and automated zero-downtime migration, backup/restore processes to drove SDN controllers migration without impact to end users ]
                                #[li Collected change requests from customer and converted them to tasks for engineering team ]
                                #[li Designed and set up HW test lab from scratch (network topology included vendors like Vello, Centec, Pica as edge switches and Cisco switches as intermediate for customer network)]
                                #[br]
                                #[br]

                                #[em Technologies:] OpenStack, SaltStack, Bash, Py.test, Kitchen, Git, Python, Jenkins, Docker, Allure, RobbotFramework, Linux, HTML, JavaScript, SDN (Vello, OpenDaylight), HTML, CSS, JavaScript, Gerrit, Zabbix, MongoDB, scappy

                        .flex-shrink-0
                            span.text-primary Jule 2013 - March 2017

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Saratov State University
                            .subheading.mb-3 Bachelor of Science
                            div Computer Science - Fundamental computer science and information technologies
                            p GPA: 4.9
                        .flex-shrink-0
                            span.text-primary September 2011 - Jule 2015


            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Python, Bash, Groovy, Java, JS
                        li
                            span.fa-li
                                i.fas.fa-check
                            | k8s, GCP, OpenShift, OpenStack, VMware
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Prometheus, Grafana, Sentry, ELK
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Jenkins, Ansible, Kapitan, SaltStack, Packer, Terraform
                        li
                            span.fa-li
                                i.fas.fa-check
                            | py.test, tox, Allure, TestNG, Junit4
                        li
                            span.fa-li
                                i.fas.fa-check
                            | ETCD, Consul, Zookeeper, Redis, Hazelcast
                        li
                            span.fa-li
                                i.fas.fa-check
                            | MySQL, MongoDB, PostgreSQL, Cassandra
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Kafka, RabbitMQ
            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | Except for my passion for technologies, I have interests in different areas such as economics (especially investing) and music production.
                    p.mb-0
                        | When I have time during the evenings I play piano or guitar or have cycling training.

            hr.m-0

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
